{% extends "base.html" %}
{% block content %}
    <section id="contact">
        <div class="container">
                <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Rankings</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">
                        <span class="badge" style="background-color:#ffffff;vertical-align:middle;margin-top:0.4em;">
                            <text style="font-size:18px;color:#2c3e50;">
                                {% if user.min<10 %}0{% endif %}{{ user.min }}:{% if user.sec<10 %}0{% endif %}{{ user.sec }}
                            </text>
                        </span>
                        <span class="badge" style="vertical-align:middle;margin-top:0.4em;">
                            <text style="font-size:18px">
                                {{ users.index(user)+1 }}
                            </text>
                        </span>
                        <text style="font-size:24px;word-spacing:2px">{{ user.name }}</text>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
        </div>
    </section>
{% endblock %}